body{
    background-image: linear-gradient(#C6C5B9, #FDFDFF );
    min-height: 100vh;
}

main{
    margin-top: 128px;
}

header{
    margin-top: 0px;
}



footer{
    margin-bottom: 0px;
}

color 
#0099CC
#393D3F
#FDFDFF
#C6C5B9
#B07C9E