body{
    background-image: linear-gradient(#C6C5B9, #FDFDFF );
    min-height: 100vh;
}


header{
    margin-top: 0px;
    background-color:#393D3F;
    color: #FDFDFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


a{
    text-decoration: none;
    color: #FDFDFF;
    font-weight: bolder;
    font-size: 40px;
}





main{
    margin-top: 128px;
}




footer{
    margin-bottom: 0px;
}

color 
#0099CC
#393D3F
#FDFDFF
#C6C5B9
#B07C9E